{{ partial "header.html" . }}

<main class="content" role="main">
	<h1>Agenda</h1>
  <div class="archive">
    {{ range .Data.Pages }}
    <article class="archive-item">
      <a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
      <span class="archive-item-date">
        {{ .Date.Format "January 2, 2006" }}
      </span>
      <p>Room: <a href="/rooms/{{lower .Params.room}}">{{.Params.room}}</a></p>
    </article>
    {{ end }}
  </div>

</main>

{{ partial "footer.html" . }}
