{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    <h1 class="article-title">{{ .Title }}</h1>

    <h3>{{ .Title }}</h3>
    <h3>{{ .Params.entrydate }}</h3>

    <div class="article-content">
      {{ .Content }}
    </div>
  </article>

</main>

{{ partial "footer.html" . }}
